*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.login-left{
    align-items: center;
    background: rgba(21, 11, 212, 0.6);
    height: 100vh;
    width: 100%;
    text-align: center;
}

.login-right{
    text-align: center;
    align-items: center;
    padding: 10% 20%;

    justify-content: center;
}

@media screen and (max-width:766px) {
    .login-right{
        padding: 10% 5%;
        height: auto;
    }
    .login-left{
        display: none;
    }
}
.login-image{
    height: 300px;
    /* margin-top: 40px; */
}
.login-text{
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    color: #FCFCFD;
}
.login-form-text{
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    
}
.login-form-content {
    width: 100%;
    text-align: center;

}
.login-form{
    margin-top: 50px;
    text-align: start;
}
input {
    width: 500px;
}
.form-label-text{
    font-weight: 900;

    /* color: rgba(51, 51, 51, 0.5); */
}
.form-placeholder-text{
    color: rgba(51, 51, 51, 0.5);
    font-weight: 14px;
}
.forget-pwd-text{
    color: #150BD4;
    font-weight: 900;
}
.login-btn-submit{
    width: 100%;
    font-weight: 900;
    color: #FFFFFF;
    background: rgba(21, 11, 212, 0.65);
}
.social-login{
    display: flex;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
    justify-content: center;
}
.line{
    height: 1px;
    width: 120px;
    margin-top: 100px;
    background-color: gray;
}
.social-login > img {
    height: 2px;
    width: 80px;
}
.social-login-icon{
    margin-top: 20px;
}
.create-account{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
.create-link{
    margin-left: 5px;
    font-weight: bold;
    color: #150BD4;
}
.social-icon{
    margin-left: 10px;
}
.continue-with{
    margin: -10px 10px;
    /* display: flex;
    flex-direction: row; */
}